/data
/generated
/_deploy
target
.settings
.classpath
.project
.idea
.yo-rc.json
*.iml
*.iws
*.ipr
pom.xml.versionsBackup
pom.xml.releaseBackup
release.properties
overlays
node_modules
dev.json
deploy.json
npm-debug.log